<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entity</key>
	<array>
		<dict>
			<key>depict</key>
			<string>商学院</string>
			<key>secondLevelData</key>
			<array>
				<dict>
					<key>depict</key>
					<string>会计学</string>
					<key>thirdLevelData</key>
					<array>
						<dict>
							<key>depict</key>
							<string>会计学1班</string>
						</dict>
						<dict>
							<key>depict</key>
							<string>会计学2班</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>depict</key>
					<string>人力资源管理</string>
					<key>thirdLevelData</key>
					<array>
						<dict>
							<key>depict</key>
							<string>人力资源管理1班</string>
						</dict>
						<dict>
							<key>depict</key>
							<string>人力资源管理2班</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>depict</key>
			<string>计算机学院</string>
			<key>secondLevelData</key>
			<array>
				<dict>
					<key>depict</key>
					<string>计算机科学与技术</string>
					<key>thirdLevelData</key>
					<array>
						<dict>
							<key>depict</key>
							<string>计算机科学与技术1班</string>
						</dict>
						<dict>
							<key>depict</key>
							<string>计算机科学与技术2班</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>depict</key>
					<string>软件工程</string>
					<key>thirdLevelData</key>
					<array>
						<dict>
							<key>depict</key>
							<string>软件工程1班</string>
						</dict>
						<dict>
							<key>depict</key>
							<string>软件工程2班</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
